/* #multi-select-custom .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #16987e !important;
}
#multi-select-custom .dropdown-menu>.active>a {
    background: #16987e !important;
} */

/* Logo in start */
.img-logo-login{
    width: 300px;
}

.user-avatar {
    height: auto;
    width: 50px;
}

.block{
	text-transform: capitalize;
}

.error-validate{
	color: red;
}

.empty_else {
    color: red;
    font-weight: 600;
}

.avatars_icon{
	width: 2vw;
}

.inline-block{
	display: inline-block;
}